name: Flutter CI/CD (Debug)

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Show root directory
        run: |
          echo "PWD:"
          pwd
          echo "FILES:"
          ls -la

      - name: Show pubspec location
        run: |
          echo "Searching for pubspec.yaml..."
          find . -name pubspec.yaml

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install dependencies
        run: flutter pub get
